---
title: Projects
---
<nav id="nav" class="nav">
    <ul class="container">
        <li><a href="/" class="logo">Home</a></li>
        <li><a href="/history">History</a></li>
        <li><a class="active" href="/projects">Projects</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

<article class="container">
	<section id="feeding-program">
		<h2 class="subheader">Feeding Program</h2>
		<p>Children in the community have a hard time learning in school with empty stomachs, that's why one of the initial projects of the <abbr title="Tondo Blessed Hope Bible Baptist Church">TBHBBC</abbr> is the Feeding Program and it remains to be one of the priority projects of the <abbr title="Tondo Blessed Hope Bible Baptist Church">TBHBBC</abbr>.</p>

		<p>After talking to the community, the TBHBBC discovered that the best meal time the children benefit from is dinner. This helps them as they wake up still full from the previous dinner, ready to go to school.</p>

		<p>During weekdays, nutritiously complete meals are given to the children. The main dish would either be chicken, pork or fish with vegetables on the side and of course, a filling serving of rice. The children are also given milk or chocolate drinks.</p>

		<p>These go a long way as these children are used to eating pagpag or food recycled from leftovers.</p>
	</section>

	<section id="relocation-program">
		<h2 class="subheader">Relocation</h2>
		<p>One goal of the <abbr title="Tondo Blessed Hope Bible Baptist Church">TBHBBC</abbr> is to move the estero dwellers to a new environment where they can thrive and develop as loving people in the community.</p> 

		<p>Pastor Cesar met up with <abbr>SHFC</abbr> originator engineer Henry Estopace, to choose the perfect location where the church members will move to. A special meeting was held to decide over the matter and the members agreed to the plan. Even the church youths showed their support for the relocation plan.</p>

		<p>Now, their goal is achieved through the Community Mortgage Program under the National Housing Authority. The chosen relocation site is Pila, Laguna. This is an opportunity for the community members to start their lives anew while opening themselves to other means of living.</p>

		<p>Other than that, they can permanently own their own dwelling, something that they did not experience while living along the estero. They are encouraged to save 30 pesos a day to pay for their houses, no strings attached.</p>
	</section>

	<section id="livelihood-program">
		<h2 class="subheader">Livelihood</h2>
		<p>The relocation site offered a new opportunity of livelihood for the community. They can now breed chicken and pigs and undergo different trainings that can develop their skill sets.</p>

		<p>The community can also grow their own crops. By leasing a hectare of land for only 10k a year, they can grow and sell crops at least 2 times a year.</p> 

		<p>What the community needs right now are partner establishments that can provide skills training and other opportunities for sustainable livelihood.</p>
	</section>
</article>