---
title: Contact
---
<nav id="nav" class="nav">
    <ul class="container">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a class="active" href="/contact">Contact</a></li>
    </ul>
</nav>

<div class="cover contact-us" id="contact-us">
	<article class="container">
		<h1 class="main-header">Contact Us</h1>
		<p>
			We are located at 1721 Santiago Street, Sta. Cruz, Manila<br>
			Please look for Pastor Cesar C. Lubrico<br>
			or call us: 3856631
		</p>
		<form class="contact-form">

			<div class="half">
				<label for="name">Name / Company</label>
				<input id="name" type="text" required>
			</div>

			<div class="half">
				<label for="email">Email</label>
				<input id="email" type="email" required>
			</div>

			<div class="half">
				<label for="number">Contact No.</label>
				<input id="number" type="tel">
			</div>

			<hr>

			<label for="inquiry">Inquiry</label>
			<textarea id="inquiry" rows="3"></textarea>

			<input type="submit" class="button">
		</form>
	</article>
</div>