---
title: About Tondo Blessed Hope Bible Baptist Church
---
<nav id="nav" class="nav">
    <ul class="container">
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

<article class="container">
	<section id="intro">
		<h1 class="main-header">About</h1>

		<p>The <a href="https://www.facebook.com/TBHBBC">Tondo Blessed Hope Bible Baptist Church</a> urban poor  ministry <q>help reform/transform urban poor parents and children from informal settling mindset towards a set of productive godly mindset.</q></p>

		<h2 class="subheader">Mission</h2>
		<p>To educate the poor from their misdirected values that they will address their plight through their own volition, using what they can produce to reduce their dependency on relief and maximizing their efforts for their profit to mitigate for future calamities with a continuing faith upon god’s righteousness as basis for their decisions.</p>

		<p>We prayed that  by God’s grace, our church ministry will be able to meet two objectives</p>
		<ol>
			<li>To share the gospel to the families of estero de magdalena community (spiritual enhancement)</li>
			<li>To provide support and help to the physical needs of the poor families e.g. children, mothers, widows, sick, elderly (physical nurturing and healing)</li>
		</ol>

		<p>To meet the two objectives we have set the following programs</p>
		<ul>
			<li>Bible Studies</li>
			<li>Family Fellowships</li>
			<li>Child Educational Sponsorships</li>
			<li>Medical and Dental Missions</li>
			<li>Feeding Program</li>
			<li>Livelihood Projects</li>
		</ul>
	</section>

	<section id="history">
		<h3 class="subheader">History</h3>
		<p>Since these shanties were constructed along the stretch of an open sewage canal, families have to bear the stench coming off the polluted water whose sources are homes, offices and industrial factories most often referred to as "squatters", families came from different parts of the country. One can call the place, "a melting pot of local cultures". Those who were born, raised and stayed in this estero speak the local dialect which is Tagalog. There are also those who speak Visayan, Ilocana, Pampango, Bicolano and even Chinese.</p>
		
		<p><strong>All of them have something in common:  Poverty and they are labelled urban poor.</strong></p>
		<p>The average family has a poor vision of their future. Adults and children have poor values concerning education, as the way to better means of living.</p>

	<p>They have poor value of using time to advantage and for efficiency, since most stay and roam late at night and only when their energy were spent on exhaustion that they go to sleep. To wake up late for school or, drunk either with sleep, alcoholic beverage or prohibited drugs, to begin another grueling day to earn a living. They have very, very poor value with regards to the gospel.</p>

	<p>Children as young as five years old were encouraged to earn money in the streets by helping to park and watch vehicles or by begging.</p>

	<p><strong>Then God moved in the heart of our fellow Filipino Christians.</strong></p>

	<p><blockquote>
	His Gospel was shared,<br>
	Bible studies, puppet shows,<br>
	songs and testimonies.<br>
	Feeding Program<br>
	Relief Goods<br>
	NSTP
	</blockquote></p>

	</section>
</article>