---
title: About Tondo Blessed Hope Bible Baptist Church
---
<nav id="nav" class="nav">
    <ul class="container">
        <li><a href="/" class="logo">Home</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a class="active" href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

<article class="container">
	<section id="intro">
		<h1 class="main-header">About</h1>

		<p>The <a href="https://www.facebook.com/TBHBBC">Tondo Blessed Hope Bible Baptist Church</a> urban poor  ministry <q>help reform/transform urban poor parents and children from informal settling mindset towards a set of productive godly mindset.</q></p>

		<h2 class="subheader">Mission</h2>
		<p>To educate the poor from their misdirected values that they will address their plight through their own volition, using what they can produce to reduce their dependency on relief and maximizing their efforts for their profit to mitigate for future calamities with a continuing faith upon god’s righteousness as basis for their decisions.</p>

		<h2 class="subheader">Objectives</h2>
		<p>We prayed that  by God’s grace, our church ministry will be able to meet two objectives</p>
		<ol>
			<li>To share the gospel to the families of estero de magdalena community (spiritual enhancement)</li>
			<li>To provide support and help to the physical needs of the poor families e.g. children, mothers, widows, sick, elderly (physical nurturing and healing)</li>
		</ol>

		<p>To meet the two objectives we have set the following programs</p>
		<ul>
			<li>Bible Studies</li>
			<li>Family Fellowships</li>
			<li>Child Educational Sponsorships</li>
			<li>Medical and Dental Missions</li>
			<li>Feeding Program</li>
			<li>Livelihood Projects</li>
		</ul>
	</section>
</article>