
.container {
	max-width: 32rem;
	margin-left: auto;
	margin-right: auto;

	position: relative;
	z-index: 99;
	@media screen and (min-width: 50rem) {
		margin-top: 10rem;
		margin-left: 10%;
	}
}

article.container {
	color: $darkGrey;
	padding: 1rem 1rem 5rem 1rem;
	max-width: 50rem;
	margin-top: 2rem;

	@media screen and (min-width: 50rem) {
		margin-top: 10rem;
	}
}

article .subheader {
	margin-top: 2.5rem;
	padding-top: 0.5rem;

	display: inline-block;

	border-top: 5px solid rgba(black,0.2);

}

.cover {
	height: auto;
	min-height: 100%;
	padding-bottom: 2rem;
	width: 100%;

	z-index: 0;

	@media all and (min-width: 42rem) { height: 100%; }
	background-repeat: no-repeat;
	background-position: center 90%;
	background-size: contain;

	position: relative;

	&.main {
		background-image: url(/img/main.jpg);
		background-color: $blue;
	}

	&.relocate {
		background-image: url(/img/relocate.jpg);
		background-color: $green;
	}

	&.livelihood {
		background-image: url(/img/livelihood.jpg);
		background-color: $yellow;
	}

	&.feeding {
		background-image: url(/img/feeding.jpg);
		background-color: $red;
	}

	&.pray {
		background-image: url(/img/pray2.jpg);
		background-color: $blue2;
	}
}

.v { font-family: $volkorn; }

.content {

	padding: 5% 1rem 0 1rem;

	a {
		color: white;
		display: inline-block;
		padding-bottom: 0.1rem;
		border-bottom: 2px solid white;
		text-decoration: none;
		margin-top: 1rem;

		&:hover,
		&:active {

			border-color: black;
		}
	}
}


.main-header {
	font-size: 2rem;
	font-weight: 300;

	text-transform: capitalize;

	line-height: 1.2;
	display: block;

	margin: 2rem 0 0 0;

	text-shadow: 0 3px 1px rgba(black, 0.2);

	& + .subheader {
		margin-top: 0rem;
	}
}

.subheader {
	font-family: $open-sans;
	font-size: 0.875rem;
	font-weight: bold;

	letter-spacing: 0.05em;
	text-transform: uppercase;

	display: block;
}

label,
input,
textarea {
	width: 100%;
	padding: 0.5rem;
	display: inline-block;
	vertical-align: top;
}

input,
textarea {
	border: 1px solid rgba(black, 0.2);
	border-radius: 0.2em;
	font-size: 1.125rem;
	color: $darkGrey;

	box-shadow: 0 1px 5px 0px rgba(black,0.2) inset;
}

label {
	margin-top: 1rem;
}


.button {
	border: none;
	border-radius: 0.2em;
	margin-top: 2rem;

	background-color: $darkGrey;

	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-size: 0.85rem;

	// box-shadow: 0px 3px 0px 0px rgba(black,0.8);
	background-color: #bbb;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbb), to(#aaa));
	background: -webkit-linear-gradient(top, #bbb, #aaa);
	background: -moz-linear-gradient(top, #bbb, #aaa);
	background: -o-linear-gradient(top, #bbb, #aaa);

	color: #444;

	cursor: pointer;

	&:hover,
	&:active {
		
		background-color: #aaa;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#aaa), to(#bbb));
		background: -webkit-linear-gradient(top, #aaa, #bbb);
		background: -moz-linear-gradient(top, #aaa, #bbb);
		background: -o-linear-gradient(top, #aaa, #bbb);

	}
}
.contact-form {
	text-align: justify;

	hr {
		border-color: rgba(white,0.2);
	}
}
.half {
	width: 48%;

	@media all and (max-width: 30rem) { width: 100%; }

	display: inline-block;
	vertical-align: top;
}

.vignette {
  position: relative;
  z-index: 0;

}
.vignette:after {
	 box-shadow: inset 0 0 10em rgba(black,0.4);
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 z-index: 2;
	 content: "";
}

#contact {
	height: auto;
	padding-top: 2rem;

	.container {
		margin-top: 5.5rem;
	}
}

// #feeding, #livelihood {
// 	.content {

// 		float: right;
// 		margin-right: 0;
// 		@media all and (min-width: 42rem) {
// 			margin-right: 10rem;
// 		}
// 	}
// }


$width: 2.5em;
$height: 0.5em;
$border-radius: 0.5em;
$color: rgba(150,220,220,1);

// link-container for better touchpoints
.link-container {
  font-size: 0.75rem;
  cursor: pointer;

  width: 0rem;
  height: 0rem;
  
  // to prevent from collapsing
  padding: 1.75em;

  background-color: rgba(200,200,200,0.4);
  border-radius: 0.25em;

  box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);

  position: absolute;
  right: 1em;

  margin-top: 1rem;

  z-index: 100;

  border: none;
  @media all and (min-width: 50rem) { display: none; }
}

.transition, .transition:after, .transition:before {
  transition: all 0.2s ease-in-out;
  translate3d: ( 0, 0, 0 );
  -webkit-backface-visibility: hidden;
}

.bar {
  display: inline-block;
  width: $width;
  height: $height;
  background-color: $color;
  position: absolute;
  border-radius: $border-radius;
  margin: 10em;
  padding: 0;
  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.bar:before, .bar:after {
  display: block;
  content: " ";
  background-color: transparent;
  position: absolute;
  width: $width;
  height: 0;
  border-radius: $border-radius;
}

.bar:before {
  top: 0;
  right: 0;
  border: 0.25em solid $color;
  margin-top: 0.75em;
}

.bar:after {
  bottom: 0;
  right: 0;
  border: 0.25em solid $color;
  margin-bottom: 0.75em;
  
}

.change {
  background-color: transparent;
  
  &:before, &:after {
    margin: 0; // to reset the position of lines
  }
  
  &:after { transform: rotate(-135deg); }
  &:before { transform: rotate(135deg); }
}

.nav {
	z-index: 90;
	position: absolute;

	margin-top: 1rem;
	margin-left: 10%;

	top: 1rem;

	@media all and (max-width: 50rem) { display: none; }
	.container {
		margin: auto 0;
	}
	li { 
		display: inline-block;
		a {	
			display: inline-block;
			margin: 1rem;
			padding-top: 0.5rem;
			color: #afafaf;

			border-top: 3px solid transparent;

			transition: color ease-in-out 0.3s,
						border-color ease-in-out 0.3s;
			&:hover,
			&:active,
			&.active
			{
				color: $logoBlue;
				border-color: $logoBlue;
			}
		}
	}
}


.mob-nav {
	position: relative;
	transition: height ease-in-out 0.2s;
	transform: translate3d(0,0,0);
	overflow: hidden;
	height: 0;
	box-shadow: 0 2px 1px 1px rgba(black,0.2);

	background-color: white;
	color: $logoBlue;
	width: 100%;

	@media all and (min-width: 50rem) { display: none; }

	.container {
		margin-top: 0;
		list-style: none;
		max-width: 100%;
	}
	li {
		width: 100%;
		text-align: center;
		margin: 0;
	}
	a {
		width: 100%;
		margin: 0;
		padding: 0.5rem;
		text-align: center;
		display: inline-block;
		color: $logoBlue;

		transition: background-color ease-in-out 0.3s;

		&:hover {
			background-color: $logoBlue;
			color: white;
		}
	}

	&.show { height: 12.5rem; }
}

.contact,
.index
	{ 
	.nav a {
		color: #aaa;

		&:hover,
		&:active,
		&.active {
			color: white;
			border-color: white;
		}
	}
}

.contact,
.about {
	.main-header {
		text-shadow: 0px 0px 0px;
	}
}

.nav404 li a {
	color: #aaa;

	&:hover,
	&:active {
		color: white;
		border-color: white;
	}
}

.contact {
	background-color: $logoBlue;
	color: white;

	article.container {
		color: white;
	}
}

p a {
	color: inherit;
	border-bottom: 2px solid $darkGrey;
	transition: border-color ease-in-out 0.3s;

	&:hover {
		border-color: $logoBlue;
	}
}

#p404 {
	background-color: $red;
}

#recaptcha_div {
	margin: 2rem auto;
}

#feeding-program {
	background-image: url('/img/feeding2.jpg');
	.subheader { border-color: $red; }
}
#relocation-program {
	background-image: url('/img/relocate2.jpg');
	.subheader { border-color: $green; }
}
#livelihood-program {
	background-image: url('/img/livelihood2.jpg');
	.subheader { border-color: $yellow; }
}

#feeding-program,
#relocation-program,
#livelihood-program {
	padding-top: 19rem;
	margin-top: 2rem;
	background-size: 25rem;
	background-repeat: no-repeat;
	background-position: top center;

}

#intro,
#history {
	background-size: 25rem;
	background-repeat: no-repeat;
	background-position: bottom right;
}

#intro { 
	padding-bottom: 10rem;
	background-image: url('/img/main2.jpg');
	.subheader { border-color: $blue; }
}
#history {
	background-image: url('/img/pray.jpg');
	.subheader { border-color: $blue2; }
}