---
title: Sample Paragraph
---

<div class="container">

	<h1 class="main-header">Tondo Blessed Hope Bible Baptist Church</h1>
	<!-- <span class="subheader">This is a sans subheader</span> -->
	<p><abbr title="Tondo Blessed Hope Bible Baptist Church">TBHBBC</abbr> helps reform & transform urban poor parents and children from informal settling mindset towards a set of productive godly mindset.</p>
</div>