---
title: Tondo Blessed Hope Bible Baptist Church
---
<nav id="nav" class="nav">
    <ul class="container">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

<div class="cover vignette main" id="main">
	<div class="content">
		<div class="container">
			<h2 class="main-header">Tondo Blessed Hope <br>Bible Baptist Church</h2>
			<!-- <span class="subheader">This is a sans subheader</span> -->
			<p><abbr title="Tondo Blessed Hope Bible Baptist Church">TBHBBC</abbr> helps reform & transform urban poor parents and children from informal settling mindset towards a set of productive godly mindset.</p>
			<a href="#feeding">Next</a>
		</div>
	</div>
</div>

<div class="cover vignette feeding" id="feeding">
	<div class="content">
		<div class="container">
			<h2 class="main-header">Feeding Program</h2>
			<!-- <span class="subheader">This is a sans subheader</span> -->
			<p>One main program of the The <abbr title="Tondo Blessed Hope Bible Baptist Church">TBHBBC</abbr> is to provide full & healthy dinners to children in the community that will help them become ready for school.</p>
			<a href="#relocate">Next</a>
		</div>
	</div>
</div>

<div class="cover vignette relocate" id="relocate">
	<div class="content">
		<div class="container">
			<h2 class="main-header">Relocation</h2>
			<!-- <span class="subheader">This is a sans subheader</span> -->
			<p>Families from the community are encouraged to move to Pila, Laguna, where they can pay for their own houses through the 30 pesos a day project. </p>
			<a href="#livelihood">Next</a>
		</div>
	</div>
</div>

<div class="cover vignette livelihood" id="livelihood">
	<div class="content">
		<div class="container">
			<h2 class="main-header">Livelihood</h2>
			<!-- <span class="subheader">This is a sans subheader</span> -->
			<p>Another <abbr title="Tondo Blessed Hope Bible Baptist Church">TBHBBC</abbr> program is to provide sustainable livelihood to the members of its community. This includes trainings with our partner establishments.</p>
			<a href="#pray">Next</a>
		</div>
	</div>
</div>

<div class="cover vignette pray" id="pray">
	<div class="content">
		<div class="container">
			<br>		
			<p><q>Ang hiling lamang nila ay huwag naming pababayaan ang mga dukha, at talaga namang patuloy ko itong ginagawa</q><br>(Galacia 2:10)</p>
			<a href="#main">Back to Top</a>
		</div>
	</div>
</div>